@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--Cream);
    padding: 1rem;
}

header,
main{
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

header{
    background-color: var(--Soft-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.balance-amount h3{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--Very-pale-orange);
    margin-bottom: 0.1rem;
}

.balance-amount h2{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Very-pale-orange);
}
.logo img{
    width: 50px;
}

main{
    background-color: var(--Very-pale-orange);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

main h2{
    font-size: 1.3rem;
    color: var(--Dark-brown);
}

.chart-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.bar {
    width: 2.2rem;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}

.bar:hover::after {
    content: attr(data-price);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: hsla(30, 100%, 98%, 1);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: hsla(25, 47%, 15%, 1);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3rem;
}

.blue {
    background-color: hsla(186, 35%, 60%, 1);
}

.blue:hover {
    background-color: hsla(186, 49%, 80%, 1);
}

.orange {
    background-color: hsla(10, 79%, 64%, 1);
}

.orange:hover {
    background-color: hsla(10, 100%, 76%, 1);
}

.day {
    color: hsla(27, 10%, 52%, 1);
    font-size: 0.7rem;
    line-height: 1rem;
}

hr{
    background-color: var(--Medium-brown);
    border: none;
    width: 100%;
    height: 1px;
}

.total-spent{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.this-month h3{
    font-size: 1.8rem;
    color: var(--Dark-brown);
}

.last-month{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

small{
    color: var(--Medium-brown);
    font-size: 0.7rem;
}

.last-month small:first-child{
    color: var(--Dark-brown);
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }